body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

header {
    position: relative;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.welcome {
    display: block;
    z-index: 2;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.logo {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;
}

.nav-links {
    display: flex;
    gap: 1.5em;
    position: sticky;
    z-index: 2;
    margin-left: auto;


}

.nav-link {
    list-style-type: none;
}




.welcome-1 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.welcome-1:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.welcome-1:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.welcome-1:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.welcome-2 {
    appearance: none;
    backface-visibility: hidden;
    background-color: transparent;
    border: 1px solid green;
    border-radius: 8px;
    box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 0.3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.welcome-2:hover {
    background-color: black;
    color: white;
}

.welcome-2:active {
    transform: translateY(2px);
    transition-duration: 0.35s;
}

.welcome-2:hover {
    box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}



.nav-link a {
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.nav-link a:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.nav-link a:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.nav-link a:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.nav-links .login-button a {
    background-color: transparent;
    color: white;
    border: 1px solid green;
}

.nav-links .login-button a:hover {
    background-color: black;
    color: white;
}




.header-image {
    border-radius: 20px;
}

.varkalacover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.varkalacover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.topdestinations h1 {
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-style: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.destinations {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-style: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

@media screen and (min-width: 768px) {
    .destinations {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .destinations {
        grid-template-columns: repeat(3, 1fr);
    }
}

.destination-item {
    flex: 0 0 48%;
}

.destination-item article {
    margin-bottom: 20px;
}

.destination-item article img {
    max-width: 100%;
    height: auto;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.seemore-1 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.seemore-1:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.seemore-1:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.seemore-1:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.aboutk {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: underline;
    text-decoration-color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.mapkerala {
    display: flex;
    justify-content: center;
    width: 15%;
    border-style: solid;
    border-color: green;
    float: right;
    margin-left: 10px;
}

.mapkerala img {
    width: 100%;
    height: auto;
}

.keralahistory {
    font-size: 20px;
}

.districts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

}

.district-item {
    flex: 0 0 30%;
    text-align: center;



}

.district-item img {
    width: 100%;
    max-width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.district-item p {
    margin-top: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.ourdistricts {
    text-decoration: underline;
    text-decoration-color: green;
}

form input,
form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

form textarea {
    resize: none;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #2e8b57;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

form button:hover {
    background-color: #3cb371;
}

button:hover {
    background-color: #3cb371;
    transform: scale(1.05);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}

.form-container h3 {

    white-space: nowrap;
    text-overflow: ellipsis;
}

form {
    width: 50%;
    border-style: solid;
    border-color: white;
    padding: 5%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

form input,
form select,
form button {
    width: 100%;
}

.forminput {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.dropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px 12px;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    body,
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {

    body,
    html {
        font-size: 12px;
    }
}